.profile__title-wrapper{
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* padding-left: 17px; */
  /* justify-content: center; */
}

*{
  box-sizing: border-box;
  border: 0.01px white solid;
}
