.popup__input {
  margin: 0;
  margin-top: 30px;
  width: 100%;
  border: none;
  outline: none;
  /* outline-offset: 0; */
  border-bottom: 1px rgba(0, 0, 0, .2) solid;
  color: black;
  padding-bottom: 13px;
}

.popup__input::placeholder {
  color: #000000;
}

@media(max-width: 530px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
  }
}
