.profile__subtitle {
  margin: 0;
  margin-top: 5px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media (max-width: 896px) {
  .profile__subtitle {
    margin-top: 19px;
    text-align: center;
  }
}
@media (max-width: 460px) {
  .profile__subtitle {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}
