.popup__close-icon {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -35px;
  left: 435px;
  border: none;
  width: 32px;
  height: 32px;
  background-image: url(../../../icons/Close_Icon.svg);
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(64, 89, 230, .0);
}
