.profile__info {
  margin-top: 20px;
  width: calc(100% - 38px);
  padding-left: 30px;
}

@media (max-width: 896px) {
  .profile__info {
    margin-top: 26px;
    margin: 0 auto;
    justify-content: center;
  }
}
